<span>Chào mừng bạn {{last_name}}, đến với GachaShop !</span>
<p>Hãy bấm vào link sau để xác thực tài khoản: </p>
<a href='{{link_verify}}'>Xác thực tài khoản</a>
<p>* Link xác thực hết hạn trong 24h *</p>